@import url("./global.css");

.quiz-questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
}

.quiz-questions:first-child {
  margin-top: 40px;
}

.quiz-questions:last-child {
  margin-bottom: 70px;
}

.question-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  width: 90%;
  padding: 10px;
  border: 1px solid var(--primary-color-dark);
  background-color: var(--secondary-color-medium);
  position: relative;
}

.question-card h2 {
  color: var(--primary-color-dark);
}

.question-card .btn-bookmark {
  cursor: pointer;
  /* background-image: url("/images/bookmark.png");
  background-repeat: no-repeat;
  background-color: transparent; */
  background: transparent url("../images/bookmark.png") no-repeat;
  background-size: 40px 40px;
  height: 40px;
  width: 40px;
  border: none;
  position: absolute;
  top: -10px;
  right: 0;
  z-index: 1;
}

.question-card .btn-show-answer {
  border: 2px solid var(--secondary-color-dark);
  background-color: var(--primary-color-dark);
  color: var(--secondary-color-light);
  border-radius: 5px;
  box-shadow: 5px 5px 5px black;
  padding: 10px;
}

.question-card .answer {
  color: var(--secondary-color-light);
  font-size: 2em;
  visibility: hidden;
}

.question-card .tag-section {
  display: flex;
  align-self: flex-start;
  gap: 5px;
}

.question-card .tag-section .tag {
  background-color: var(--secondary-color-dark);
  border: solid 1px var(--primary-color-dark);
  border-radius: 5px;
  padding: 5px;
}

.personal-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  gap: 30px;
}

.personal-info h2 {
  color: var(--primary-color-dark);
}

.personal-info article {
  color: var(--primary-color-dark);
}

.stat-tags {
  display: flex;
  justify-content: space-evenly;
  gap: 25px;
}

.stat-tags .stat-num-questions,
.stat-tags .stat-num-bookmarks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid var(--secondary-color-medium);
  border-radius: 10px;
  background-color: var(--secondary-color-dark);
  color: var(--secondary-color-light);
  width: 25%;
}

.stat-tags img {
  width: 40px;
  height: 40px;
}

.settings {
  margin-top: 50px;
  color: var(--primary-color-dark);
}

.settings ul {
  list-style: none;
}

section.settings {
  margin-bottom: 100px;
}

@media screen and (min-width: 1024px) {
  .quiz-questions {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 70px;
  }

  .question-card {
    width: 40%;
    height: 352.33px;
  }
}
